body {
  font-size:1em;
  font-family:Arial;
  background: #F0EAD6;
}

#hellomessage {
  font-weight:bold;
}

#TitleBlock {
  overflow: hidden;
  position: sticky;
  font-weight:bold;
  font-size:larger;
  font-family:arial;
  margin-top: 10px;
  margin-left: 5px;
}

div.content {
  margin: 0 0;
  max-width: 960;
  height: auto;
}

div.searchbar {
  overflow: hidden;
  position: relative;
  bottom: 55px;
  margin-left: 160px;
}

div.searchbar [type=text] {
  float: left;
  border-color: black;
  padding: 6px;
  margin-top: 10px;
  margin-right: 16px;
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 10px;
  width: 30%;
  height: auto;
}

div.scrollmenu { 
  background-color: gray;
  overflow: auto;
  white-space: nowrap;
  padding-inline: 10px;
  scrollbar-color: white darkgray;
  scrollbar-width: thin;
  margin-top: -45px;
}

div.scrollmenu img{
  width: 200px;
  height: 150px;
}

div.scrollmenu a {
  display: inline-flex;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

div.scrollmenu a + a {
  margin-left: 5px;
}

div.scrollmenu a:hover {
  background-color: #777;
}